footer{
    background-color: rgb(7, 7, 7);
    display: inline-block;
    width: 100%;
    color: antiquewhite;
    align-items: baseline;
    text-align: center;
    justify-content: space-between;
    padding-top: 1px;
    padding-bottom: 5px;
    a {
    font-size: 1.5em;
    margin-right: 10px;

}
    h3{
    margin-left: 15px;
}
    img{
    height: 20px;
}
}

