$colorprim:#006529;
$colorsec: rgb(189, 183, 194);
$colorter:rgba(233, 229, 236, 0.459);
$colorcuar: #4DFF94;
$fontcolorsec: #006529;

@mixin flex{
    display: flex;
    justify-content: center;    
    align-items: center;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    background: $colorsec;
}

@import "generales";
@import "footer";
@import "index";
@import "sumate";
@import "formulario";
@import "somos";
@import "recorrido";
@import "mediaq";

